<ul>
  <%= for track <- @deps.playlist do %>
    <li>
      <button phx-click="play" phx-value-id={track.id}>
        <%= if String.trim(track.name) == "", do: "Unknown", else: track.name %>
        <%= track.path %>
      </button>
    </li>
  <% end %>
</ul>
