<div class="h-full w-full flex items-center justify-center flex-col p-3">
  <marquee class="text-2xl font-black">
    <%= @deps.title %>
  </marquee>
  <div class="m-2 h-[45%] w-[45%] rounded-lg bg-gray-300 dark:bg-gray-800 shadow-lg dark:shadow-gray-600 relative border-2 border-blue-300 text-orange-600">
    <div class={"icon mt-[15%] #{if @deps.pause, do: 'play', else: 'pause'}"}>
      <i />
    </div>
  </div>
</div>
