<div class="flex dark:text-gray-300 h-full items-center justify-center flex-col">
  <div class="text-[15vw]"><%= Calendar.strftime(@time, "%X") %></div>
  <div class="text-[5vw]"><%= Calendar.strftime(@time, "%B %d, %Y") %></div>
</div>
