<div class="flex dark:text-gray-300 h-full items-center justify-center flex-col">
  <div id="clock_time" class="text-[15vw]"><%= format_time(@time) %></div>
  <div id="clock_date" class="text-[5vw]"><%= format_date(@time) %></div>
</div>
