<main class="h-full flex flex-col justify-between">
  <._header navigation={assigns[:__navigation__]} />

  <.flash_group flash={@flash} />

  <div class="grow overflow-y-auto">
    <%= @inner_content %>
  </div>

  <._footer navigation={assigns[:__navigation__]} />
</main>
