<ExshomeWeb.SvgCanvasView.render_svg_canvas
  meta={@__svg_meta__}
  components={@__components__}
  menu_items={@__menu_items__}
>
  <:header>
    <.live_component
      module={ExshomeWeb.Live.RenameComponent}
      id="rename_workflow"
      value={@deps.workflow.name}
      can_rename?={true}
    />
  </:header>
</ExshomeWeb.SvgCanvasView.render_svg_canvas>
