<section class="h-full w-full flex flex-col items-center justify-center">
  <table class="text-xs sm:text-sm md:text-md lg:text-2xl text-center">
    <thead>
      <td></td>
      <td>🟢</td>
    </thead>
    <tr>
      <td>☑️</td>
      <td type="total_variables"><%= @deps.status.variables %></td>
    </tr>
  </table>
  <p class="text-xl md:text-2xl lg:text-3xl">Automation</p>
</section>
