/* Range input */
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  background: radial-gradient(white, currentColor);
  border: 0.2em solid currentColor;
}

input[type=range]::-moz-range-thumb {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  background: radial-gradient(white, currentColor);
  border: 0.2em solid currentColor;
}

/* Progress */

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 1em;
  border-radius: 1em;
  background-color: inherit;
  color: currentColor;
}

progress::-webkit-progress-bar {
  background-color: inherit;
  border-radius: 1em;
}

progress::-webkit-progress-value {
  background-color: currentColor;
  border-radius: 1em;
}

progress::-moz-progress-bar {
  background-color: currentColor;
  border-radius: 1em;
}

.toggle {
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.3em;
  opacity: 1;
  background: radial-gradient(yellow, gray, black);
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0.1em 0.1em 0.3em gray;
}

input:checked + .toggle {
  background-color: currentColor;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(2em);
  -ms-transform: translateX(2em);
  transform: translateX(2em);
}
