<div>
  <.form let={f} for={@changeset} phx-target={@myself} as="settings" phx-change="validate" phx-submit="save">
    <%= for {field, data} <- @module.fields() do %>
      <%= render_field f, field, data %>
      <%= error_tag(f, field) %>
    <% end %>
    <%= submit "Save", phx_disable_with: "Saving..." %>
  </.form>
</div>
