<footer class="flex md:hidden p-2 m-2 whitespace-nowrap overflow-x-scroll overflow-y-hidden items-center justify-center text-4xl">
  <%= render("_navigation.html", socket: @socket, live_action: @live_action) %>
</footer>
