<footer class="flex min-h-[2.2em] md:hidden whitespace-nowrap overflow-x-scroll overflow-y-hidden items-center justify-center text-4xl">
  <%= render("_navigation.html", socket: @socket, live_action: @live_action) %>
</footer>
