<div class="flex">
  <%= for item <- navigation_data(@socket) do %>
    <%= live_redirect(to: item.path) do %>
      <div class={
        ~s/
          p-2 m-1
          rounded-lg shadow-inner
          hover:bg-gray-200 hover:dark:bg-gray-600
          #{if item.selected, do: "bg-gray-300 dark:bg-gray-500", else: "bg-gray-50 dark:bg-gray-800"} /
      }>
        <%= item.icon %>
        <span class="hidden md:inline"><%= item.name %></span>
      </div>
    <% end %>
  <% end %>
</div>
