<!DOCTYPE html>
<html lang="en" class="min-h-full h-full">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <.live_title suffix=" · Exshome">
      <%= assigns[:page_title] || "Exshome" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <%= render("_theme_switch_script.html") %>
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body class="bg-white dark:bg-black overflow-hidden dark:text-gray-200 h-full">
    <%= @inner_content %>
  </body>
</html>
